%h1= "#{link_to @person.full_name, person_path(:id => @person)} : Role"
  
=error_messages_for :person
-form_for @person, :url => role_path(:id => @person) do |f|
  = render :partial => 'roles/form', :object => f, :locals => { :person => @person }